



<h1 class="txt-heading_lg">ROOT / CONTACT / INDEX TWIG</h1>

{% if craft.app.request.param("status") == "true" %}
    <h1 class="txt-heading_lg">Roger Roger. Message Received.</h1>
{% endif %}

{# VERSIE 1 - FORM RECHTSREEKS RENDEREN
{{ craft.freeform.form("contactForm", {
    labelClass: "login-label",
    inputClass: "form-input-label",
    instructionsBelowField: "true",
}).render() }}

#}

{% set form = craft.freeform.form("contactForm") %}

{{ form.renderTag}}

{% for row in form %}
    <div class=="{{ form.customAttributes.rowClass }}"></div>
        {% for field in row %}
        {% set columnClass = 'testColumn' %}
        {% if field.type == "submit" %}
            {% set columnClass = 'submitColumn' %}
        {% endif %}
        <div class=="{{ columnClass }}">
            {{ field.render({
                class: field.type != "submit" ? "freeform-input" : "",
                labelClass: "login-label"  ~ (field.required ? "required" : ""),
                errorClass: "error-label",

            }

            )}}
        
        </div>
        
    {% endfor %}
{% endfor %}

{{ form.renderClosingTag}}