{% extends "_index.twig" %}

{% block content %}
{# DIT IS DE NAVBAR #}
{% include "_snippets/_navbar.twig" %}

{# DIT IS HET BEGIN VAN DE BLOCK #}
{# AFBEELDING URL INSTELLEN ALS VARIABLE OM VERKORT TE NOTEREN ALS HEROIMAGE.URL 
{% set heroImage = entry.heroImage.one() %} #}

<section class="gallery_header bg-darkest mt-xl">
  <p class="txt-body_md">{{ entry.headingTitle }}.<br></p>
  <h3 class="txt-title_sm">{{ entry.headingSubtitle}}</h3>
</section>

<!-- CONTAINER MET FILTERMENU EN PRODUCT-OVERZICHT  -->
<div class="container-fluid products-wrapper bg-darkest mx-auto">
  <aside class="filter-menu">
    <h2 class="filter-title">Filter</h2>
    <ul class="filter-list">
      <li class="filter-listitem filter-active"><a class="filter-toggle" href="#">All</a></li>
      <li class="filter-listitem"><a class="filter-toggle" href="#">Auropods</a></li>
      <li class="filter-listitem"><a class="filter-toggle" href="#">AuroVision</a></li>
      <li class="filter-listitem"><a class="filter-toggle" href="#">AuroTouch</a></li>
      <li class="filter-listitem"><a class="filter-toggle" href="#">AuroLink</a></li>
    </ul>
  </aside>


  

  <main class="product-list">
    <!-- Voeg meer productkaarten toe -->
    <div class="product-card">
      <img src="assets/images/gallery_4.png" alt="Product 1 - Nubis">
      <div class="card-info">
        <div class="card-txt">
          <h3 class="product-name" >Auro Nubis</h3>
          <p class="product-price">€329</p>
        </div>
        <a href="product_detail.html" class="details-button">Details</a>
      </div>
    </div>
    <div class="product-card">
      <img src="assets/images/case_4.png" alt="Product 2">
      <div class="card-info">
        <div class="card-txt">
          <h3 class="product-name" >Auro Fluxus</h3>
          <p class="product-price">€249</p>
        </div>
        <a href="product_detail.html" class="details-button">Details</a>
      </div>
    </div>
    <div class="product-card">
      <img src="assets/images/gallery_3.png" alt="Product 3">
      <div class="card-info">
        <div class="card-txt">
          <h3 class="product-name" >Auro Steroid</h3>
          <p class="product-price">€299</p>
        </div>
        <a href="product_detail.html" class="details-button">Details</a>
      </div>
    </div>
    <div class="product-card">
      <img src="assets/images/pods_2.png" alt="Product 4">
      <div class="card-info">
        <div class="card-txt">
          <h3 class="product-name" >Auro Zulu</h3>
          <p class="product-price">€319</p>
        </div>
        <a href="product_detail.html" class="details-button">Details</a>
      </div>
    </div>
    <div class="product-card">
      <img src="assets/images/aurolink_1.png" alt="Product 5">
      <div class="card-info">
        <div class="card-txt">
          <h3 class="product-name" >AuroLink</h3>
          <p class="product-price">€199</p>
        </div>
        <a href="product_detail.html" class="details-button">Details</a>
      </div>
    </div>
    <div class="product-card">
      <img src="assets/images/aurovision_1.png" alt="Product 6">
      <div class="card-info">
        <div class="card-txt">
          <h3 class="product-name" >AuroVision</h3>
          <p class="product-price">€1899</p>
        </div>
        <a href="product_detail.html" class="details-button">Details</a>
      </div>
    </div>
    <div class="product-card">
      <img src="assets/images/case_1.png" alt="Product 7">
      <div class="card-info">
        <div class="card-txt">
          <h3 class="product-name" >Auro Nova</h3>
          <p class="product-price">€249</p>
        </div>
        <a href="product_detail.html" class="details-button">Details</a>
      </div>
    </div>
    <div class="product-card">
      <img src="assets/images/case_2.png" alt="Product 8">
      <div class="card-info">
        <div class="card-txt">
          <h3 class="product-name" >Auro Vibe</h3>
          <p class="product-price">€189</p>
        </div>
        <a href="#" class="details-button">Details</a>
      </div>
    </div>
    <div claszs="product-card">
      <img src="assets/images/pods_1.png" alt="Product 9">
      <div class="card-info">
        <div class="card-txt">
          <h3 class="product-name" >Auro Nova</h3>
          <p class="product-price">€249</p>
        </div>
        <a href="product_detail.html" class="details-button">Details</a>
      </div>
    </div>
  </main> 

  <!--EINDE GALLERY DIV !-->
</div>

<!-- PAGINATIE 

<nav class="container pagination">
  <a class="pagination-item" href="#">&laquo;</a>
  <a class="pagination-item active" href="#">1</a>
  <a class="pagination-item" href="#">2</a>
  <a class="pagination-item" href="#">3</a>
  <a class="pagination-item" href="#">&raquo;</a>
</nav>-->

{# INLADEN PRODUCTEN UIT CRAFT ENTRIES.. ".ALL" IS ERG BERLANGRIJK OM DEZE EFFECTIEF UIT TE VOEREN. -> ANDERS NIKS.

Filteren producten via order by / limit:
{% set products = craft.entries.section('products').orderBy('price DESC').limit(3).all() %} #}

{% set products = craft.entries.section('products').all() %}

<div class="container-fluid">
{% if products|length %}
	<section class="cards-wrapper bg-black">
		{% for product in products %}
        {% set image = product.productImage.one() %}
        <div class="card">
            <div class="card-overlay">
                <h1 class="card-overlay-heading txt-light">{{ product.title }}</h1>
                <p class="card-overlay-paragraph txt-light">{{ product.price }}</p>
                <a type="button" class="card-overlay-button" href="#">Order now</a>
            </div>
            <img class="card-image" src="{{ image.url }}" alt="{{ image.title }}">
        </div>
        {% endfor %}
	</section>
{% endif %}
</div>




{% if products|length %}
    <section class="cards-wrapper bg-white">
        {% for product in products %}
            {% include 'products/_entry.twig' %}
        {% endfor %}
    </section>
{% endif %}

{% set title = "Products" %}

    {% for entry in craft.entries.section('products').find() %}
        <article>
            <h2><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
            {{ entry.body }}
            <p>Written by {{ entry.author }} on {{ entry.postDate|date('M d, Y') }}</p>
        </article>
    {% endfor %}

{% include "_snippets/_footer.twig" %}

{% endblock %}


